In [12]:
# Importamos librerías de análisis de datos
import numpy as np
import pandas as pd

# plots
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline

In [13]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', index_col='id', parse_dates=['fecha'])

In [20]:
# nos quedamos con las columnas que nos interesan
df = df[['tipodepropiedad', 'habitaciones', 'garages', 'banos', 'precio']]
df.head(10)

           tipodepropiedad  habitaciones  garages  banos     precio
id
254099         Apartamento           2.0      1.0    2.0  2273000.0
53461   Casa en condominio           3.0      2.0    2.0  3600000.0
247984                Casa           3.0      2.0    2.0  1200000.0
209067                Casa           2.0      1.0    1.0   650000.0
185997         Apartamento           2.0      1.0    1.0  1150000.0
126147         Apartamento           2.0      1.0    1.0  1100000.0
139233                Casa           3.0      1.0    2.0  1150000.0
5013                  Casa           4.0      2.0    3.0  4200000.0
44962          Apartamento           2.0      1.0    1.0   310000.0
134537             Terreno           NaN      NaN    NaN  6200000.0