In [2]:
# Importamos librerías de análisis de datos
import numpy as np
import pandas as pd

# plots
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline

In [3]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', index_col='id', parse_dates=['fecha'])

In [4]:
# nos quedamos con las columnas que nos interesan
df = df[['tipodepropiedad', 'escuelascercanas', 'centroscomercialescercanos', 'precio']]
df.head(2)

,tipodepropiedad,escuelascercanas,centroscomercialescercanos,precio
id,,,,
254099,Apartamento,0.0,0.0,2273000.0
53461,Casa en condominio,1.0,1.0,3600000.0