In [2]:
# Importamos librerías de análisis de datos
import numpy as np
import pandas as pd

# plots
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline

In [3]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', index_col='id', parse_dates=['fecha'])

In [16]:
# nos quedamos con las columnas que nos interesan
df = df[['tipodepropiedad', 'provincia', 'ciudad', 'metrostotales', 'antiguedad', 'precio']]
df.head()

,tipodepropiedad,provincia,ciudad,metrostotales,antiguedad,precio
id,,,,,,
254099,Apartamento,Distrito Federal,Benito Juárez,80.0,NaN,2273000.0
53461,Casa en condominio,Distrito Federal,La Magdalena Contreras,180.0,10.0,3600000.0
247984,Casa,Jalisco,Tonalá,166.0,5.0,1200000.0
209067,Casa,Edo. de México,Zinacantepec,67.0,1.0,650000.0
185997,Apartamento,Jalisco,Zapopan,95.0,10.0,1150000.0

In [9]:
df.precio.max()

12525000.0

In [17]:
df.sort_values(by = ['precio'], ascending = False)

,tipodepropiedad,provincia,ciudad,metrostotales,antiguedad,precio
id,,,,,,
153761,Oficina comercial,Distrito Federal,Benito Juárez,208.0,10.0,12525000.0
181271,Casa,Distrito Federal,Tlalpan,NaN,0.0,12521000.0
64975,Apartamento,Distrito Federal,Cuauhtémoc,120.0,5.0,12520000.0
279973,Apartamento,Distrito Federal,Benito Juárez,313.0,0.0,12516000.0
165404,Casa,Distrito Federal,Alvaro Obregón,NaN,5.0,12515000.0
...,...,...,...,...,...,...
258087,Apartamento,Distrito Federal,Coyoacán,NaN,15.0,310000.0
149710,Apartamento,Puebla,Puebla,NaN,15.0,310000.0
167048,Casa,Michoacán,Zamora,67.0,NaN,310000.0
207175,Casa,Baja California Norte,Tijuana,105.0,10.0,310000.0
136953,Apartamento,Hidalgo,Pachuca,NaN,0.0,310000.0

In [20]:
grouped = df.groupby('provincia').agg({'precio':'mean'})
grouped.sort_values(by = ['precio'], ascending = False)

                             precio
provincia
Distrito Federal       3.471705e+06
Edo. de México         2.762465e+06
Nuevo León             2.717758e+06
Guerrero               2.548742e+06
Quintana Roo           2.402967e+06
Jalisco                2.367694e+06
Tabasco                2.300480e+06
Puebla                 2.298404e+06
Morelos                2.290088e+06
Querétaro              2.144109e+06
Yucatán                2.036020e+06
Chiapas                1.924126e+06
San luis Potosí        1.920425e+06
Veracruz               1.889789e+06
Guanajuato             1.866959e+06
Chihuahua              1.744531e+06
Sinaloa                1.634572e+06
Tamaulipas             1.589667e+06
Oaxaca                 1.575518e+06
Campeche               1.570918e+06
Colima                 1.531380e+06
Coahuila               1.505305e+06
Sonora                 1.483716e+06
Michoacán              1.478504e+06
Aguascalientes         1.477189e+06
Zacatecas              1.453748e+06
Nayarit                1.426791e+06
Hidalgo                1.305551e+06
Baja California Sur    1.216453e+06
Durango                1.210389e+06
Tlaxcala               1.080993e+06
Baja California Norte  7.674418e+05