# Importamos librerías de análisis de datos
import numpy as np
import pandas as pd

# plots
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
%matplotlib inline
from wordcloud import WordCloud, STOPWORDS

In [1]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', index_col='id', parse_dates=['fecha'])

NameError: name 'pd' is not defined

In [2]:
from platform import python_version

print(python_version())

2.7.15+

In [34]:
# Vemos la forma
df.shape

(240000, 22)

In [35]:
df.columns

Index([u'titulo', u'descripcion', u'tipodepropiedad', u'direccion', u'ciudad',
       u'provincia', u'antiguedad', u'habitaciones', u'garages', u'banos',
       u'metroscubiertos', u'metrostotales', u'idzona', u'lat', u'lng',
       u'fecha', u'gimnasio', u'usosmultiples', u'piscina',
       u'escuelascercanas', u'centroscomercialescercanos', u'precio'],
      dtype='object')

In [36]:
df

,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
id,,,,,,,,,,,,,,,,,,,,,
254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,...,23533.0,NaN,NaN,2015-08-23,0.0,0.0,0.0,0.0,0.0,2273000.0
53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28,0.0,0.0,0.0,1.0,1.0,3600000.0
247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,2.0,...,48551.0,NaN,NaN,2015-10-17,0.0,0.0,0.0,0.0,0.0,1200000.0
209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,1.0,...,53666.0,19.301890,-99.688015,2012-03-09,0.0,0.0,0.0,1.0,1.0,650000.0
185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,1.0,...,47835.0,NaN,NaN,2016-06-07,0.0,0.0,0.0,0.0,0.0,1150000.0
126147,departamento en venta taxqueña,"amplio departamento, estancia de sala y comedo...",Apartamento,Condominio Tlalpan 2B,Coyoacán,Distrito Federal,5.0,2.0,1.0,1.0,...,23650.0,19.300612,-99.148475,2014-03-18,0.0,0.0,0.0,0.0,1.0,1100000.0
139233,de oportunidad casa en san lorenzo,"ubicada en esquina, pertenece san lorenzo agen...",Casa,NaN,Oaxaca de Juárez,Oaxaca,NaN,3.0,1.0,2.0,...,73510.0,17.143504,-96.803504,2016-02-23,0.0,0.0,0.0,0.0,0.0,1150000.0
5013,casa emilia en venta en selvamar playa del carmen,casa emilia en venta playa del carmenfracciona...,Casa,condominio el trebol,Playa del Carmen,Quintana Roo,2.0,4.0,2.0,3.0,...,130510.0,20.672612,-87.037968,2016-10-20,0.0,0.0,0.0,0.0,0.0,4200000.0
44962,pre- venta preciosos depas 2 recamaras con sub...,<p>pre-venta de preciosos departamento ecologi...,Apartamento,BUENAVISTA DEPTOS CON SUBSIDIO,Villa de Alvarez,Colima,1.0,2.0,1.0,1.0,...,9010.0,NaN,NaN,2014-01-06,0.0,0.0,0.0,1.0,1.0,310000.0
134537,terreno,"terreno de 5.500m2 bardeado, uso de suelo h-20...",Terreno,Av. Morelos,Ixtapaluca,Edo. de México,NaN,NaN,NaN,NaN,...,59171.0,19.316000,-98.887000,2016-12-22,0.0,0.0,0.0,0.0,0.0,6200000.0
51180,mi 2° credito,<p>mi 2&deg; credito<br />para todos aquellos ...,Casa,MI 2° CREDITO,San Luis Potosí,San luis Potosí,0.0,3.0,1.0,1.0,...,87542.0,22.195878,-101.018956,2013-01-03,0.0,0.0,0.0,1.0,1.0,488000.0
103293,"departamento en venta, san pedro garza garcia,...","departamento nuevo ,256 m2 de construccion,un ...",Apartamento,NaN,San Pedro Garza García,Nuevo León,NaN,3.0,2.0,4.0,...,325095.0,NaN,NaN,2014-12-01,0.0,0.0,0.0,0.0,0.0,7200000.0
47890,hermosa casa en zibata queretaro 170m²,<p><strong>casa </strong>en venta en fracciona...,Casa,"Pitahayas 2 - 58, Zibata",Querétaro,Querétaro,0.0,3.0,2.0,2.0,...,83666.0,20.682878,-100.317503,2013-08-12,0.0,1.0,0.0,1.0,1.0,1500000.0
130216,casa matias romero - sión bancaria,flamante casa habitación en condominio horizon...,Casa,"MATIAS ROMERO, COLONIA DEL VALLE",Benito Juárez,Distrito Federal,20.0,NaN,0.0,NaN,...,50003995.0,19.374895,-99.149519,2015-03-31,0.0,0.0,0.0,0.0,0.0,3000000.0
181436,casa en venta en valle real,pre venta de residencia en la toscana con exce...,Casa,NaN,Zapopan,Jalisco,NaN,NaN,2.0,4.0,...,47732.0,20.729601,-103.431993,2014-11-25,0.0,0.0,0.0,0.0,0.0,5300000.0
201923,casa en venta lomas verdes naucalpan,"<p>casa en dos niveles, 3 recámaras la princip...",Casa,NaN,Naucalpan de Juárez,Edo. de México,NaN,3.0,2.0,4.0,...,NaN,19.516583,-99.256028,2015-01-13,0.0,0.0,0.0,0.0,0.0,3650000.0
283945,preciosa casa en cumbres del lago \t,<p>clave: vcln2450 fecha de actualizaci&oacute...,Casa,"CUMBRES DEL LAGO JURIQUILLA, QUERETARO, MEXICO",Querétaro,Querétaro,0.0,3.0,2.0,3.0,...,84338.0,20.708760,-100.459303,2013-03-06,0.0,0.0,0.0,1.0,1.0,2450000.0
73348,"oportunidad, departamento col del valle, 3 rec...",magnifico departamento con excelente distribuc...,Apartamento,Pazaje Santa Cruz,Benito Juárez,Distrito Federal,5.0,3.0,2.0,NaN,...,50003995.0,NaN,NaN,2016-10-30,0.0,0.0,0.0,1.0,1.0,4750000.0
40421,últimos terrenos en preventa!! en bukara coto ...,"terreno ubicado en bukara coto club, el cual s...",Terreno,Milenio,Querétaro,Querétaro,NaN,NaN,0.0,NaN,...,339455.0,NaN,NaN,2016-12-03,0.0,0.0,1.0,1.0,1.0,794078.0
87655,NaN,-- rcv151104-lv-27 -- linda casa con area d...,Casa,SENDA CELESTIAL 10,Querétaro,Querétaro,0.0,3.0,2.0,2.0,...,339455.0,NaN,NaN,2016-01-15,0.0,0.0,0.0,0.0,0.0,1850000.0
90071,terreno residencial en venta en cumbres quinta...,"<p>excelente terreno plano, frente a parque en...",Terreno,TERRENO RESIDENCIAL EN VENTA EN CUMBRES,Monterrey,Nuevo León,0.0,NaN,0.0,NaN,...,68726.0,NaN,NaN,2013-12-02,0.0,0.0,0.0,0.0,0.0,490000.0
224513,casa en venta en querétaro,nocnok id: mx15-bk0340. hermosa casa en conjun...,Casa en condominio,NaN,Querétaro,Querétaro,NaN,3.0,2.0,4.0,...,NaN,NaN,NaN,2016-02-01,0.0,0.0,0.0,0.0,0.0,2300000.0
129818,comoda casa con recamara en planta baja y ampl...,<p>comoda casa con recamara en planta baja y a...,Casa,NaN,Ciudad Madero,Tamaulipas,0.0,4.0,NaN,1.0,...,122891.0,22.264768,-97.841012,2013-12-12,0.0,0.0,0.0,0.0,0.0,1340000.0
146699,"casa en condominio en venta, benito juarez, ca...",casa en venta en cancun en residencial cumbres...,Casa en condominio,NaN,Cancún,Quintana Roo,4.0,3.0,2.0,4.0,...,NaN,21.113768,-86.846323,2015-05-19,0.0,0.0,0.0,0.0,0.0,3500000.0
235958,"casa en venta - colinas del cimatario, queréta...","<p>propiedad en un nivel, con espacios amplios...",Casa,Colinas del Cimatario C721,Querétaro,Querétaro,4.0,3.0,NaN,3.0,...,83763.0,20.559744,-100.367382,2013-09-26,0.0,0.0,0.0,1.0,1.0,3900000.0
97918,casa venta santa cecilia,"hermosa casa en santa cecilia en apodaca, cerc...",Casa,Lopez Velarde,Apodaca,Nuevo León,8.0,3.0,2.0,2.0,...,321499.0,NaN,NaN,2016-12-31,0.0,0.0,0.0,1.0,1.0,850000.0
70294,"casa en venta de un nivel , frac. misiones de ...",¡excelente oportunidad! \n\ncasa de un nivel ...,Casa en condominio,MISIONES DE SAN FRANCISCO,Puebla,Puebla,3.0,2.0,1.0,1.0,...,78534.0,NaN,NaN,2014-07-22,0.0,0.0,0.0,1.0,1.0,310000.0
177031,NaN,"hermosa casa remodelada, con acabados de lujo,...",Casa en condominio,PASEO DE LOS LAURELES,Miguel Hidalgo,Distrito Federal,18.0,3.0,3.0,3.0,...,NaN,NaN,NaN,2012-03-07,0.0,0.0,0.0,0.0,0.0,10800000.0
144635,casa en venta en santillana i,"casa en coto 3 recamaras, estudio, sala-comedo...",Casa en condominio,Coto Santillana I Casa G11,Zapopan,Jalisco,1.0,3.0,2.0,NaN,...,47735.0,20.714140,-103.453808,2015-01-20,0.0,0.0,0.0,0.0,0.0,2600000.0
146158,terreno urbano bardeado zona tesistán,"en zona de urbanización progresiva, terreno pl...",Terreno comercial,camino viejo a Tesistan,Zapopan,Jalisco,20.0,NaN,0.0,NaN,...,48186.0,20.784515,-103.477062,2016-12-03,0.0,0.0,0.0,1.0,0.0,10707900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123855,"residencia en las cañadas, gran oportunidad pa...","residencia en las cañadas, una gran oportunida...",Casa,Paseo de los fambruesos 3150,Zapopan,Jalisco,10.0,5.0,3.0,4.0,...,48192.0,20.785029,-103.357221,2016-12-11,0.0,0.0,1.0,0.0,0.0,3350000.0
2747,"departamento exclusivo para tu familia, vive b...","www. \n3 recamaras, 2 baños \n2 autos \nentreg...",Apartamento,TOKIO,Benito Juárez,Distrito Federal,4.0,3.0,2.0,2.0,...,50003995.0,19.367193,-99.153030,2016-12-19,0.0,0.0,0.0,1.0,1.0,3750000.0
130523,"casa para remodelar, excelente ubicación","estado de conservación: para remodelar, área d...",Casa,Albino Garcia 219,Cuauhtémoc,Distrito Federal,20.0,5.0,2.0,2.0,...,23872.0,19.402050,-99.132807,2016-01-19,0.0,0.0,0.0,1.0,1.0,2400000.0
149503,departamento en venta en villa de cortes,últimos departamentos en preventa dentro de ex...,Apartamento,Pérez de León 61,Benito Juárez,Distrito Federal,1.0,2.0,1.0,2.0,...,23548.0,NaN,NaN,2013-02-05,0.0,0.0,0.0,1.0,1.0,1260000.0
156730,"casa en venta, cuautitlán izcalli, estado de m...",casa en venta en lago de guadalupe. excelente ...,Casa,NaN,Cuautitlán Izcalli,Edo. de México,4.0,3.0,NaN,3.0,...,56976.0,19.632321,-99.248815,2015-08-05,0.0,0.0,0.0,0.0,0.0,3300000.0
258795,casa en uno de los desarrollos con mayor plusv...,<p>el desarrollo cuenta con barda perimetral c...,Casa,NaN,Querétaro,Querétaro,NaN,3.0,2.0,2.0,...,127625.0,20.649712,-100.349840,2014-04-03,0.0,0.0,0.0,1.0,0.0,1275000.0
184779,casa en venta en campanario,"bonita y bien ubicada casa en venta, 3 recamar...",Casa,NaN,Chihuahua,Chihuahua,NaN,3.0,0.0,3.0,...,15514.0,NaN,NaN,2015-02-09,0.0,0.0,0.0,0.0,0.0,2020000.0
214176,casa tecamac,"hermosa casa, en excelente mantenimiento y muy...",Casa,AV RANCHO NUEVO,Tecámac,Edo. de México,5.0,1.0,1.0,1.0,...,58201.0,NaN,NaN,2015-04-12,0.0,0.0,0.0,0.0,0.0,490000.0
235796,"linda casa en venta,cerca del lago de guadalupe","buen proyecto, desarrollada en tres plantas, p...",Casa,NaN,Atizapán de Zaragoza,Edo. de México,NaN,3.0,2.0,2.0,...,55642.0,19.603617,-99.248425,2016-10-24,0.0,0.0,0.0,0.0,0.0,1880000.0
103355,se vende casa en delegacion miguel hidalgo,excelente casa muy bien ubicada en zona tranqu...,Casa,Rio Parana,Miguel Hidalgo,Distrito Federal,10.0,3.0,2.0,1.0,...,24547.0,19.457797,-99.209211,2016-03-04,0.0,0.0,0.0,1.0,1.0,3300000.0
267455,departamentos en renta torres palmira,"departamento en venta avenida palmira , san lu...",Apartamento,NaN,San Luis Potosí,San luis Potosí,1.0,2.0,NaN,1.0,...,87713.0,16.754800,-93.094700,2016-12-03,0.0,0.0,0.0,0.0,0.0,3386400.0
199041,casa en venta en residencial agua caliente,se vende bonita casa en el fracc. residencial ...,Casa,PRIV. VENECIA,Tijuana,Baja California Norte,10.0,2.0,1.0,1.0,...,2455.0,32.486000,-116.987722,2012-11-20,0.0,0.0,0.0,1.0,1.0,550000.0
252709,casa de 2 recamaras en residencial del bosque ...,casa de 2 recámaras en residencial del bosque ...,Casa,NaN,Tijuana,Baja California Norte,NaN,2.0,1.0,1.0,...,2479.0,32.507828,-116.838982,2016-02-05,0.0,0.0,0.0,0.0,0.0,357000.0
194027,casa en venta en san luis potosí,"nocnok id: mx16-bo3390. sin posesión física, p...",Casa,NaN,San Luis Potosí,San luis Potosí,NaN,3.0,NaN,2.0,...,87460.0,22.157684,-100.973508,2016-02-09,0.0,0.0,0.0,0.0,0.0,684338.0
262913,en venta mitras centro monterrey nuevo leon,en excelente ubicación zona mitras centro. am...,Casa,"PROGRESO, MONTERREY",Monterrey,Nuevo León,20.0,2.0,1.0,1.0,...,68789.0,25.695872,-100.335367,2016-07-30,0.0,0.0,0.0,1.0,1.0,505000.0
64820,"casa en venta fuentes de satelite, atizapan, e...","casa en venta fuentes de satélite, atizapán, e...",Casa en condominio,"FUENTES DE SATÉLITE, ATIZAPÁN, ESTADO DE MÉXICO",Atizapán de Zaragoza,Edo. de México,10.0,3.0,2.0,2.0,...,55785.0,NaN,NaN,2016-12-07,0.0,0.0,0.0,1.0,1.0,2700000.0
41090,excelete torre de departamentos en lomas 4ta s...,<p>exclusiva torre de departamentos en venta e...,Apartamento,NaN,San Luis Potosí,San luis Potosí,0.0,3.0,2.0,2.0,...,343015.0,NaN,NaN,2013-09-07,0.0,0.0,0.0,0.0,0.0,2079000.0
278167,NaN,-- rcv347n-287 -- casas nuevas estilo minim...,Casa,Primero de mayo 5,Cuautlancingo,Puebla,0.0,3.0,2.0,1.0,...,79560.0,NaN,NaN,2015-10-28,0.0,0.0,0.0,0.0,0.0,830000.0
191335,bodega santa maría,ideal para inversionista \nideal centro de dis...,Bodega comercial,SANTA MARIA,Guadalajara,Jalisco,5.0,NaN,0.0,NaN,...,47372.0,20.616413,-103.365752,2015-11-20,0.0,0.0,0.0,0.0,0.0,1990000.0
175203,casa venta renta en rinconada jurica,terreno 404m2 \nconst. 347 m2 \n\npreciosa cas...,Casa,Jurica,Querétaro,Querétaro,2.0,3.0,2.0,2.0,...,83780.0,20.648319,-100.433545,2016-09-15,0.0,1.0,1.0,1.0,1.0,3850000.0
87498,casa en venta: bosques del contry,"<p>casa en venta, en magníficas condiciones; e...",Casa,NaN,Guadalupe,Nuevo León,20.0,3.0,2.0,1.0,...,72083.0,25.661179,-100.250566,2014-04-12,0.0,0.0,0.0,0.0,0.0,1495000.0
137337,departamento residencial coyuya,"departamento ubicado en planta baja, con excel...",Apartamento,Coyuya 200,Iztacalco,Distrito Federal,20.0,2.0,1.0,1.0,...,24118.0,19.403309,-99.119023,2015-03-14,0.0,0.0,0.0,1.0,1.0,1450000.0
54886,casa en venta,bonita casa para remodelar en una calle cerrad...,Casa en condominio,Cerrada villa Picadilly,Huixquilucan,Edo. de México,10.0,3.0,NaN,3.0,...,55589.0,NaN,NaN,2015-11-23,0.0,0.0,0.0,1.0,1.0,5500000.0
207892,bugambilias (ciudad),coto privado de tan solo 7 casas donde cada fa...,Casa,Paseo de la Cañada,Zapopan,Jalisco,1.0,3.0,2.0,3.0,...,48046.0,20.615574,-103.456215,2015-03-22,0.0,0.0,0.0,0.0,0.0,1650000.0
110268,hermosa casa en villa de los belenes,"<p>moderna casa 3 pisos, muro llor&oacute;n , ...",Casa,"MANUEL AMAYA,ENTRE SEBASTIAN ALLENDE Y AMADO A...",Zapopan,Jalisco,3.0,2.0,2.0,2.0,...,48029.0,20.604484,-103.450049,2013-07-31,0.0,0.0,0.0,0.0,0.0,1350000.0
119879,bonita casas de 2 recamaras a 10 minutos del c...,vendo casa en bosques de ica residencial a 10 ...,Casa,BOSQUES,Zinacantepec,Edo. de México,0.0,2.0,2.0,1.0,...,53666.0,NaN,NaN,2015-02-08,0.0,0.0,0.0,0.0,0.0,650000.0
259178,casa en condominio a 10 min. del centro de toluca,"casa con un jardin amplio, un cuarto de servic...",Casa,Filiberto Navas 325,Toluca,Edo. de México,0.0,3.0,3.0,3.0,...,51954.0,19.294665,-99.692916,2014-07-10,0.0,0.0,0.0,1.0,1.0,1940000.0
131932,nicolas san juan,"departamento con excelente ubicación, muy cerc...",Apartamento,Nicolas San Juan,Benito Juárez,Distrito Federal,20.0,2.0,1.0,2.0,...,50003995.0,NaN,NaN,2015-03-03,0.0,0.0,0.0,0.0,0.0,3400000.0
146867,casa sola. javier rojo gomez.,"casa sola, dividida en cuatro departamentos de...",Casa,Javier Rojo Gomez 120,Iztapalapa,Distrito Federal,20.0,4.0,0.0,4.0,...,24162.0,19.366651,-99.082246,2014-12-26,1.0,0.0,0.0,1.0,1.0,2890000.0
121958,departamento en bosques de las lomas / av. st...,"id:19816, muy bonito e iluminado departamento,...",Apartamento,AVE. STIM,Cuajimalpa de Morelos,Distrito Federal,1.0,3.0,2.0,2.0,...,23750.0,NaN,NaN,2015-06-19,0.0,0.0,0.0,0.0,0.0,3650000.0

In [37]:
df.head(1)

,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
id,,,,,,,,,,,,,,,,,,,,,
254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,2.0,...,23533.0,NaN,NaN,2015-08-23,0.0,0.0,0.0,0.0,0.0,2273000.0

vemos los valores más comunes de varias columnas

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240000 entries, 254099 to 121958
Data columns (total 22 columns):
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null datetime64[ns]
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
dtypes: datetime64[ns](1), float64(15), object(6)
memory usage: 42.1+ MB

In [39]:
df.describe()

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
count,196445.000000,217529.000000,202235.000000,213779.000000,222600.000000,188533.000000,2.113790e+05,116512.000000,116512.000000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,2.400000e+05
mean,8.116114,2.902326,1.546874,2.132417,174.016774,176.765145,2.423468e+06,20.696818,-99.509221,0.062475,0.055092,0.087383,0.444142,0.396533,2.530838e+06
std,9.553830,0.896894,0.853507,0.912546,98.152950,94.427328,1.056794e+07,3.137884,9.744143,0.242017,0.228160,0.282397,0.496871,0.489179,2.152552e+06
min,0.000000,1.000000,0.000000,1.000000,15.000000,15.000000,2.200000e+01,-100.886679,-125.859375,0.000000,0.000000,0.000000,0.000000,0.000000,3.100000e+05
25%,0.000000,2.000000,1.000000,1.000000,90.000000,102.000000,2.489000e+04,19.359846,-100.977908,0.000000,0.000000,0.000000,0.000000,0.000000,9.527725e+05
50%,5.000000,3.000000,2.000000,2.000000,153.000000,155.000000,5.638300e+04,19.543273,-99.240387,0.000000,0.000000,0.000000,0.000000,0.000000,1.850000e+06
75%,10.000000,3.000000,2.000000,3.000000,240.000000,238.000000,8.783800e+04,20.740005,-99.134777,0.000000,0.000000,0.000000,1.000000,1.000000,3.390000e+06
max,80.000000,10.000000,3.000000,4.000000,439.000000,439.000000,5.000400e+07,83.026219,121.036000,1.000000,1.000000,1.000000,1.000000,1.000000,1.252500e+07

In [40]:
df.describe(include='all')

,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,banos,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
count,234613,238381,239954,186928,239628,239845,196445.000000,217529.000000,202235.000000,213779.000000,...,2.113790e+05,116512.000000,116512.000000,240000,240000.000000,240000.000000,240000.000000,240000.000000,240000.000000,2.400000e+05
unique,186191,232187,24,140269,875,32,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1830,NaN,NaN,NaN,NaN,NaN,NaN
top,casa en venta,empresa dedicada a los ante notario y regist...,Casa,-,Querétaro,Distrito Federal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2016-12-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
freq,468,119,141717,660,12646,58790,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1416,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2012-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2016-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,8.116114,2.902326,1.546874,2.132417,...,2.423468e+06,20.696818,-99.509221,NaN,0.062475,0.055092,0.087383,0.444142,0.396533,2.530838e+06
std,NaN,NaN,NaN,NaN,NaN,NaN,9.553830,0.896894,0.853507,0.912546,...,1.056794e+07,3.137884,9.744143,NaN,0.242017,0.228160,0.282397,0.496871,0.489179,2.152552e+06
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,1.000000,...,2.200000e+01,-100.886679,-125.859375,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,3.100000e+05
25%,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,2.000000,1.000000,1.000000,...,2.489000e+04,19.359846,-100.977908,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,9.527725e+05
50%,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,3.000000,2.000000,2.000000,...,5.638300e+04,19.543273,-99.240387,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.850000e+06
75%,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,3.000000,2.000000,3.000000,...,8.783800e+04,20.740005,-99.134777,NaN,0.000000,0.000000,0.000000,1.000000,1.000000,3.390000e+06
max,NaN,NaN,NaN,NaN,NaN,NaN,80.000000,10.000000,3.000000,4.000000,...,5.000400e+07,83.026219,121.036000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.252500e+07

In [41]:
df.tipodepropiedad.value_counts().head()

Casa                  141717
Apartamento            57341
Casa en condominio     19297
Terreno                 9945
Local Comercial         3055
Name: tipodepropiedad, dtype: int64

In [42]:
df.ciudad.value_counts().head()

Querétaro          12646
Benito Juárez      11014
Zapopan            10360
San Luis Potosí     7925
Mérida              7162
Name: ciudad, dtype: int64

In [43]:
df.provincia.value_counts().head()

Distrito Federal    58790
Edo. de México      41607
Jalisco             21238
Querétaro           16988
Nuevo León          15324
Name: provincia, dtype: int64

In [44]:
df.habitaciones.value_counts().head()

3.0    121887
2.0     57808
4.0     25068
1.0      5069
5.0      4596
Name: habitaciones, dtype: int64

In [45]:
df.garages.value_counts().head()

2.0    94167
1.0    59464
0.0    26926
3.0    21678
Name: garages, dtype: int64

In [46]:
df.banos.value_counts().head()

2.0    87683
1.0    58173
3.0    49365
4.0    18558
Name: banos, dtype: int64

In [47]:
df.piscina.value_counts().head()

0.0    219028
1.0     20972
Name: piscina, dtype: int64

In [48]:
df.usosmultiples.value_counts().head()

0.0    226778
1.0     13222
Name: usosmultiples, dtype: int64

In [49]:
df.gimnasio.value_counts().head()

0.0    225006
1.0     14994
Name: gimnasio, dtype: int64

In [50]:
df.escuelascercanas.value_counts().head()

0.0    133406
1.0    106594
Name: escuelascercanas, dtype: int64

In [51]:
df.centroscomercialescercanos.value_counts().head()

0.0    144832
1.0     95168
Name: centroscomercialescercanos, dtype: int64

In [21]:
df.select_dtypes(['number'])

,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,idzona,lat,lng,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
id,,,,,,,,,,,,,,,
254099,NaN,2.0,1.0,2.0,80.0,80.0,23533.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2273000.0
53461,10.0,3.0,2.0,2.0,268.0,180.0,24514.0,19.310205,-99.227655,0.0,0.0,0.0,1.0,1.0,3600000.0
247984,5.0,3.0,2.0,2.0,144.0,166.0,48551.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1200000.0
209067,1.0,2.0,1.0,1.0,63.0,67.0,53666.0,19.301890,-99.688015,0.0,0.0,0.0,1.0,1.0,650000.0
185997,10.0,2.0,1.0,1.0,95.0,95.0,47835.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1150000.0
126147,5.0,2.0,1.0,1.0,75.0,90.0,23650.0,19.300612,-99.148475,0.0,0.0,0.0,0.0,1.0,1100000.0
139233,NaN,3.0,1.0,2.0,140.0,160.0,73510.0,17.143504,-96.803504,0.0,0.0,0.0,0.0,0.0,1150000.0
5013,2.0,4.0,2.0,3.0,293.0,293.0,130510.0,20.672612,-87.037968,0.0,0.0,0.0,0.0,0.0,4200000.0
44962,1.0,2.0,1.0,1.0,58.0,NaN,9010.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,310000.0
134537,NaN,NaN,NaN,NaN,250.0,NaN,59171.0,19.316000,-98.887000,0.0,0.0,0.0,0.0,0.0,6200000.0
51180,0.0,3.0,1.0,1.0,100.0,NaN,87542.0,22.195878,-101.018956,0.0,0.0,0.0,1.0,1.0,488000.0
103293,NaN,3.0,2.0,4.0,256.0,NaN,325095.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,7200000.0
47890,0.0,3.0,2.0,2.0,170.0,141.0,83666.0,20.682878,-100.317503,0.0,1.0,0.0,1.0,1.0,1500000.0
130216,20.0,NaN,0.0,NaN,227.0,185.0,50003995.0,19.374895,-99.149519,0.0,0.0,0.0,0.0,0.0,3000000.0
181436,NaN,NaN,2.0,4.0,250.0,231.0,47732.0,20.729601,-103.431993,0.0,0.0,0.0,0.0,0.0,5300000.0
201923,NaN,3.0,2.0,4.0,180.0,250.0,NaN,19.516583,-99.256028,0.0,0.0,0.0,0.0,0.0,3650000.0
283945,0.0,3.0,2.0,3.0,210.0,275.0,84338.0,20.708760,-100.459303,0.0,0.0,0.0,1.0,1.0,2450000.0
73348,5.0,3.0,2.0,NaN,127.0,127.0,50003995.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4750000.0
40421,NaN,NaN,0.0,NaN,NaN,164.0,339455.0,NaN,NaN,0.0,0.0,1.0,1.0,1.0,794078.0
87655,0.0,3.0,2.0,2.0,133.0,184.0,339455.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1850000.0
90071,0.0,NaN,0.0,NaN,NaN,105.0,68726.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,490000.0
224513,NaN,3.0,2.0,4.0,181.0,150.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2300000.0
129818,0.0,4.0,NaN,1.0,179.0,224.0,122891.0,22.264768,-97.841012,0.0,0.0,0.0,0.0,0.0,1340000.0
146699,4.0,3.0,2.0,4.0,280.0,260.0,NaN,21.113768,-86.846323,0.0,0.0,0.0,0.0,0.0,3500000.0
235958,4.0,3.0,NaN,3.0,258.0,NaN,83763.0,20.559744,-100.367382,0.0,0.0,0.0,1.0,1.0,3900000.0
97918,8.0,3.0,2.0,2.0,150.0,98.0,321499.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,850000.0
70294,3.0,2.0,1.0,1.0,40.0,66.0,78534.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,310000.0
177031,18.0,3.0,3.0,3.0,NaN,306.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,10800000.0
144635,1.0,3.0,2.0,NaN,120.0,120.0,47735.0,20.714140,-103.453808,0.0,0.0,0.0,0.0,0.0,2600000.0
146158,20.0,NaN,0.0,NaN,150.0,NaN,48186.0,20.784515,-103.477062,0.0,0.0,0.0,1.0,0.0,10707900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123855,10.0,5.0,3.0,4.0,230.0,NaN,48192.0,20.785029,-103.357221,0.0,0.0,1.0,0.0,0.0,3350000.0
2747,4.0,3.0,2.0,2.0,152.0,152.0,50003995.0,19.367193,-99.153030,0.0,0.0,0.0,1.0,1.0,3750000.0
130523,20.0,5.0,2.0,2.0,217.0,120.0,23872.0,19.402050,-99.132807,0.0,0.0,0.0,1.0,1.0,2400000.0
149503,1.0,2.0,1.0,2.0,69.0,NaN,23548.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,1260000.0
156730,4.0,3.0,NaN,3.0,173.0,403.0,56976.0,19.632321,-99.248815,0.0,0.0,0.0,0.0,0.0,3300000.0
258795,NaN,3.0,2.0,2.0,142.0,128.0,127625.0,20.649712,-100.349840,0.0,0.0,0.0,1.0,0.0,1275000.0
184779,NaN,3.0,0.0,3.0,189.0,250.0,15514.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2020000.0
214176,5.0,1.0,1.0,1.0,44.0,65.0,58201.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,490000.0
235796,NaN,3.0,2.0,2.0,226.0,189.0,55642.0,19.603617,-99.248425,0.0,0.0,0.0,0.0,0.0,1880000.0
103355,10.0,3.0,2.0,1.0,198.0,122.0,24547.0,19.457797,-99.209211,0.0,0.0,0.0,1.0,1.0,3300000.0
267455,1.0,2.0,NaN,1.0,203.0,NaN,87713.0,16.754800,-93.094700,0.0,0.0,0.0,0.0,0.0,3386400.0
199041,10.0,2.0,1.0,1.0,50.0,65.0,2455.0,32.486000,-116.987722,0.0,0.0,0.0,1.0,1.0,550000.0
252709,NaN,2.0,1.0,1.0,55.0,90.0,2479.0,32.507828,-116.838982,0.0,0.0,0.0,0.0,0.0,357000.0
194027,NaN,3.0,NaN,2.0,119.0,59.0,87460.0,22.157684,-100.973508,0.0,0.0,0.0,0.0,0.0,684338.0
262913,20.0,2.0,1.0,1.0,62.0,65.0,68789.0,25.695872,-100.335367,0.0,0.0,0.0,1.0,1.0,505000.0
64820,10.0,3.0,2.0,2.0,145.0,87.0,55785.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,2700000.0
41090,0.0,3.0,2.0,2.0,160.0,160.0,343015.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,2079000.0
278167,0.0,3.0,2.0,1.0,83.0,90.0,79560.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,830000.0
191335,5.0,NaN,0.0,NaN,367.0,367.0,47372.0,20.616413,-103.365752,0.0,0.0,0.0,0.0,0.0,1990000.0
175203,2.0,3.0,2.0,2.0,347.0,404.0,83780.0,20.648319,-100.433545,0.0,1.0,1.0,1.0,1.0,3850000.0
87498,20.0,3.0,2.0,1.0,118.0,124.0,72083.0,25.661179,-100.250566,0.0,0.0,0.0,0.0,0.0,1495000.0
137337,20.0,2.0,1.0,1.0,68.0,68.0,24118.0,19.403309,-99.119023,0.0,0.0,0.0,1.0,1.0,1450000.0
54886,10.0,3.0,NaN,3.0,270.0,293.0,55589.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,5500000.0
207892,1.0,3.0,2.0,3.0,150.0,150.0,48046.0,20.615574,-103.456215,0.0,0.0,0.0,0.0,0.0,1650000.0
110268,3.0,2.0,2.0,2.0,160.0,90.0,48029.0,20.604484,-103.450049,0.0,0.0,0.0,0.0,0.0,1350000.0
119879,0.0,2.0,2.0,1.0,67.0,NaN,53666.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,650000.0
259178,0.0,3.0,3.0,3.0,200.0,250.0,51954.0,19.294665,-99.692916,0.0,0.0,0.0,1.0,1.0,1940000.0
131932,20.0,2.0,1.0,2.0,138.0,138.0,50003995.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,3400000.0
146867,20.0,4.0,0.0,4.0,235.0,137.0,24162.0,19.366651,-99.082246,1.0,0.0,0.0,1.0,1.0,2890000.0
121958,1.0,3.0,2.0,2.0,149.0,NaN,23750.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,3650000.0

In [22]:
df.isnull().sum()

titulo                          5387
descripcion                     1619
tipodepropiedad                   46
direccion                      53072
ciudad                           372
provincia                        155
antiguedad                     43555
habitaciones                   22471
garages                        37765
banos                          26221
metroscubiertos                17400
metrostotales                  51467
idzona                         28621
lat                           123488
lng                           123488
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
dtype: int64

In [23]:
print(df.isnull().any())

titulo                         True
descripcion                    True
tipodepropiedad                True
direccion                      True
ciudad                         True
provincia                      True
antiguedad                     True
habitaciones                   True
garages                        True
banos                          True
metroscubiertos                True
metrostotales                  True
idzona                         True
lat                            True
lng                            True
fecha                         False
gimnasio                      False
usosmultiples                 False
piscina                       False
escuelascercanas              False
centroscomercialescercanos    False
precio                        False
dtype: bool

In [30]:
df['fecha'].min()

Timestamp('2012-01-01 00:00:00')

In [31]:
df['fecha'].max()

Timestamp('2016-12-31 00:00:00')