In [51]:
import pandas as pd
import numpy as np
import datetime
import utils
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [52]:

def add_features(events, features, on='id', how = 'left'):
    """Hace un merge de features a events"""
    return pd.merge(events, features, on=on, how = how)

def merge_features(list):
    feature_final = list[0]
    list.pop(0)
    for features in list:
        feature_final = add_features(feature_final,features)
    return feature_final

In [53]:
%run ./features_basicos.ipynb
%run ./features_ambientes.ipynb
%run ./features_amenities.ipynb
%run ./features_metros.ipynb
%run ./features_descripcion.ipynb
%run ./features_direccion.ipynb

In [54]:
features_basicos = pd.read_csv('features_basicos.csv', low_memory=False)
features_ambientes = pd.read_csv('features_ambientes.csv', low_memory=False)
features_amenities = pd.read_csv('features_amenities.csv', low_memory=False)
features_metros = pd.read_csv('features_metros.csv', low_memory=False)
features_descripcion = pd.read_csv('features_descripcion.csv', low_memory=False)
features_direccion = pd.read_csv('features_direccion.csv', low_memory=False)

In [55]:
features = merge_features([features_basicos,
                           features_ambientes,
                           features_amenities,
                           features_metros,
                           features_descripcion,
                           features_direccion
                                 ])

features.fillna(value=0, inplace=True)
features.head()

,id,days_to_today,año,antiguedad,centroscomercialescercanos,escuelascercanas,habitaciones,garages,banos,anio_x,...,Quintana Roo,San luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz,Yucatán,Zacatecas
0,254099,1540,2015,0.0,0.0,0.0,2.0,1.0,2.0,2015,...,0,0,0,0,0,0,0,0,0,0
1,53461,2326,2013,10.0,1.0,1.0,3.0,2.0,2.0,2013,...,0,0,0,0,0,0,0,0,0,0
2,247984,1485,2015,5.0,0.0,0.0,3.0,2.0,2.0,2015,...,0,0,0,0,0,0,0,0,0,0
3,209067,2802,2012,1.0,1.0,1.0,2.0,1.0,1.0,2012,...,0,0,0,0,0,0,0,0,0,0
4,185997,1251,2016,10.0,0.0,0.0,2.0,1.0,1.0,2016,...,0,0,0,0,0,0,0,0,0,0

In [56]:
## esto genera un csv final con todos los features para usar en el modelo
features.to_csv('../modelos/data_set.csv', index=False)

In [57]:
features.shape

(300000, 81)

In [58]:
features.columns

Index(['id', 'days_to_today', 'año', 'antiguedad',
       'centroscomercialescercanos', 'escuelascercanas', 'habitaciones',
       'garages', 'banos', 'anio_x', 'Apartamento', 'Bodega comercial', 'Casa',
       'Casa en condominio', 'Casa uso de suelo', 'Departamento Compartido',
       'Duplex', 'Edificio', 'Garage', 'Hospedaje', 'Huerta',
       'Inmuebles productivos urbanos', 'Local Comercial',
       'Local en centro comercial', 'Lote', 'Nave industrial',
       'Oficina comercial', 'Otros', 'Quinta Vacacional', 'Rancho', 'Terreno',
       'Terreno comercial', 'Terreno industrial', 'Villa', 'gimnasio',
       'usosmultiples', 'piscina', 'anio_y', 'qty_of_extras',
       'metroscubiertos', 'metrostotales', 'popular_desc_1', 'popular_desc_2',
       'popular_desc_3', 'popular_desc_4', 'idzona', 'lat', 'lng', 'avenue',
       'Aguascalientes', 'Baja California Norte', 'Baja California Sur',
       'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila', 'Colima',
       'Distrito Federal', 'Durango', 'Edo. de México', 'Guanajuato',
       'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán', 'Morelos', 'Nayarit',
       'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo',
       'San luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas',
       'Tlaxcala', 'Veracruz', 'Yucatán', 'Zacatecas'],
      dtype='object')