In [51]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [52]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [53]:
#dolar
df['año'] = df['fecha'].dt.year
df['mes'] = df['fecha'].dt.month
df['periodo'] = df['mes'].map(str) + '-' + df['año'].map(str)
df['periodo'] = pd.to_datetime(df['periodo'], format='%m-%Y', errors='ignore')

In [54]:
df2=df.groupby(['periodo']).agg({'precio':'mean'})
df2['precio'] = df2['precio'].round(2)
df2.sort_values(by='periodo', ascending=False, inplace=True)
df2['dolar'] = [20.7275,20.5720,18.8640,19.3850,
18.7851,18.7525,18.2800,18.4684,17.1750,17.2806,18.1350,
18.1100,17.1800,16.5745,16.5000,16.9193,16.7522,16.1106,
15.7389,15.3775,15.3488,15.2618,14.9507,14.9890,14.7490,
13.9367,13.4772,13.4277,13.0878,13.2177,12.9682,12.8587,
13.0792,13.0578,13.2450,13.3562,13.0365,13.1025,13.0198,
13.0915,13.3803,12.7325,12.9460,12.8089,12.1340,12.3160,
12.7791,12.7088,12.8657,12.9503,13.0994,12.8594,13.1924,
13.3270,13.3573,14.3716,13.0155,12.8070,12.8460,13.0446]
df2.drop(columns=['precio'], axis=0, inplace=True)
df2.head()

              dolar
periodo
2016-12-01  20.7275
2016-11-01  20.5720
2016-10-01  18.8640
2016-09-01  19.3850
2016-08-01  18.7851

In [55]:
df = pd.merge(df, df2, on='periodo', how='left')

In [61]:
df['periodo'] = df['periodo'].dt.strftime('%Y%m%d')

In [62]:
df = df[['id','periodo', 'dolar']]

In [63]:
df=df.fillna(0)
df.to_csv('features_dolar.csv',index=False)