In [20]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [21]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [22]:
df = df[['id', 'direccion', 'idzona', 'lat', 'lng', 'provincia']]
df.head()

,id,direccion,idzona,lat,lng,provincia
0,254099,Avenida Division del Norte 2005,23533.0,NaN,NaN,Distrito Federal
1,53461,AV. MEXICO,24514.0,19.310205,-99.227655,Distrito Federal
2,247984,Urbi Tonala,48551.0,NaN,NaN,Jalisco
3,209067,IGNACIO MANUEL ALTAMIRANO 128,53666.0,19.301890,-99.688015,Edo. de México
4,185997,PASEOS DEL SOL,47835.0,NaN,NaN,Jalisco

In [23]:
df['avenue'] = df['direccion'].str.lower().str.contains('av')
df['avenue'] = df['avenue'].fillna(False).astype(int)

0        1
1        1
2        0
3        0
4        0
        ..
59995    0
59996    0
59997    0
59998    0
59999    0
Name: avenue, Length: 300000, dtype: int64

In [24]:
one_hot_encoding = pd.get_dummies(df['provincia'])
one_hot_encoding.shape

(300000, 32)

In [25]:
df = df.drop('provincia', axis= 1)
df = df.drop('direccion', axis= 1)
df.shape

(300000, 5)

In [26]:
df = pd.concat([df, one_hot_encoding], axis=1)
df.head()

,id,idzona,lat,lng,avenue,Aguascalientes,Baja California Norte,Baja California Sur,Campeche,Chiapas,...,Quintana Roo,San luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz,Yucatán,Zacatecas
0,254099,23533.0,NaN,NaN,True,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,53461,24514.0,19.310205,-99.227655,True,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,247984,48551.0,NaN,NaN,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,209067,53666.0,19.301890,-99.688015,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,185997,47835.0,NaN,NaN,False,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df.shape

(300000, 37)

In [28]:
df=df.fillna(0)
df.to_csv('features_direccion.csv',index=False)