In [4]:
import pandas as pd
import numpy as np
import datetime
import utils
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [5]:

def add_features(events, features, on='id', how = 'left'):
    """Hace un merge de features a events"""
    return pd.merge(events, features, on=on, how = how)

def merge_features(list):
    feature_final = list[0]
    list.pop(0)
    for features in list:
        feature_final = add_features(feature_final,features)
    return feature_final

In [13]:
%run ./features_basicos.ipynb
%run ./features_ambientes.ipynb
%run ./features_amenities.ipynb
%run ./features_metros.ipynb

In [14]:
features_basicos = pd.read_csv('features_basicos.csv', low_memory=False)
features_ambientes = pd.read_csv('features_ambientes.csv', low_memory=False)
features_amenities = pd.read_csv('features_amenities.csv', low_memory=False)
features_metros = pd.read_csv('features_metros.csv', low_memory=False)

In [15]:
features = merge_features([features_basicos,
                           features_ambientes,
                           features_amenities,
                           features_metros
                                 ])

features.fillna(value=0, inplace=True)
features.head()

,id,habitaciones_x,habitaciones_y,garages,banos,precio_x,anio_x,Apartamento,Bodega comercial,Casa,...,Villa,gimnasio,usosmultiples,piscina,precio_y,anio_y,qty_of_extras,metroscubiertos,metrostotales,precio
0,254099,2.0,2.0,1.0,2.0,2273000.0,2015,1,0,0,...,0,0.0,0.0,0.0,2273000.0,2015,0.0,80.0,80.0,2273000.0
1,254099,2.0,2.0,1.0,2.0,2273000.0,2015,0,0,1,...,0,0.0,0.0,0.0,2273000.0,2015,0.0,80.0,80.0,2273000.0
2,53461,3.0,3.0,2.0,2.0,3600000.0,2013,0,0,0,...,0,0.0,0.0,0.0,3600000.0,2013,0.0,268.0,180.0,3600000.0
3,53461,3.0,3.0,2.0,2.0,3600000.0,2013,1,0,0,...,0,0.0,0.0,0.0,3600000.0,2013,0.0,268.0,180.0,3600000.0
4,247984,3.0,3.0,2.0,2.0,1200000.0,2015,0,0,1,...,0,0.0,0.0,0.0,1200000.0,2015,0.0,144.0,166.0,1200000.0

In [16]:
## esto genera un csv final con todos los features para usar en el modelo
features.to_csv('../modelos/data_set.csv', index=False)