In [74]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [75]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [76]:
df = df[['id', 'descripcion']]

In [77]:
df.head()

       id                                        descripcion
0  254099  depto. interior de 80.15m2, consta de sala com...
1   53461  <p>entre sonora y guerrero, atr&aacute;s del h...
2  247984  descripcion \nla mejor ubicacion residencial e...
3  209067  casa en privada con caseta de vigilancia casas...
4  185997  bonito departamento en excelentes condiciones ...

In [79]:
popular_words = ['excelente', 'bonita', 'hermosa', 'espectacular', 'encanto', 'lujo', 'increible']
pattern = '|'.join(popular_words)


df['popular_desc_1'] = df['descripcion'].str.contains(pattern)
df['popular_desc_1'] = df['popular_desc_1'].fillna(False).astype(int)

In [81]:
popular_words = ['jardin', 'terraza', 'patio']
pattern = '|'.join(popular_words)


df['popular_desc_2'] = df['descripcion'].str.contains(pattern)
df['popular_desc_2'] = df['popular_desc_2'].fillna(False).astype(int)

In [82]:
sale = ['venta', 'vende']
pattern = '|'.join(sale)


df['popular_desc_3'] = df['descripcion'].str.contains(pattern)
df['popular_desc_3'] = df['popular_desc_3'].fillna(False).astype(int)

In [83]:
rent = ['alquiler', 'alquila', 'alquilo']
pattern = '|'.join(rent)


df['popular_desc_4'] = df['descripcion'].str.contains(pattern)
df['popular_desc_4'] = df['popular_desc_4'].fillna(False).astype(int)

In [ ]:
popular_words = ['mueble', 'amueblado', 'equipado']
pattern = '|'.join(popular_words)


df['popular_desc_5'] = df['descripcion'].str.contains(pattern)
df['popular_desc_5'] = df['popular_desc_5'].fillna(False).astype(int)

In [ ]:
popular_words = ['estrenar', 'estreno', 'nuevo']
pattern = '|'.join(popular_words)


df['popular_desc_6'] = df['descripcion'].str.contains(pattern)
df['popular_desc_6'] = df['popular_desc_6'].fillna(False).astype(int)

In [ ]:
popular_words = ['vista', 'frente', 'ubicacion']
pattern = '|'.join(popular_words)


df['popular_desc_7'] = df['descripcion'].str.contains(pattern)
df['popular_desc_7'] = df['popular_desc_7'].fillna(False).astype(int)

In [ ]:
popular_words = ['mascotas', 'mascota', 'perro', 'gato', 'animal', 'pet']
pattern = '|'.join(popular_words)


df['popular_desc_8'] = df['descripcion'].str.contains(pattern)
df['popular_desc_8'] = df['popular_desc_8'].fillna(False).astype(int)

In [ ]:
popular_words = ['torre', 'country', 'tower']
pattern = '|'.join(popular_words)


df['popular_desc_9'] = df['descripcion'].str.contains(pattern)
df['popular_desc_9'] = df['popular_desc_9'].fillna(False).astype(int)

In [ ]:
popular_words = ['luz', 'luminoso']
pattern = '|'.join(popular_words)


df['popular_desc_10'] = df['descripcion'].str.contains(pattern)
df['popular_desc_10'] = df['popular_desc_10'].fillna(False).astype(int)

In [ ]:
popular_words = ['mar', 'playa', 'club', 'beach']
pattern = '|'.join(popular_words)


df['popular_desc_11'] = df['descripcion'].str.contains(pattern)
df['popular_desc_11'] = df['popular_desc_11'].fillna(False).astype(int)

In [ ]:
popular_words = ['hotelera', 'hotel']
pattern = '|'.join(popular_words)


df['popular_desc_12'] = df['descripcion'].str.contains(pattern)
df['popular_desc_12'] = df['popular_desc_12'].fillna(False).astype(int)

In [ ]:
popular_words = ['oportunidad', 'solidaridad']
pattern = '|'.join(popular_words)


df['popular_desc_13'] = df['descripcion'].str.contains(pattern)
df['popular_desc_13'] = df['popular_desc_13'].fillna(False).astype(int)

In [84]:
df = df.drop('descripcion', axis=1)
df

           id  popular_desc_1  popular_desc_2  popular_desc_3  popular_desc_4
0      254099               0               0               0               0
1       53461               1               1               0               0
2      247984               0               1               0               0
3      209067               0               0               0               0
4      185997               1               0               0               0
...       ...             ...             ...             ...             ...
59995   75094               0               0               0               0
59996  171847               0               1               0               0
59997  138313               1               1               1               0
59998  271268               1               0               0               0
59999   72612               1               0               0               0

[300000 rows x 5 columns]

In [85]:
df=df.fillna(0)
df.to_csv('features_descripcion.csv',index=False)