In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings

import category_encoders as ce

warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [3]:
# Cargamos el dataframe
df = pd.read_csv('train.csv')
df = pd.concat([df, pd.read_csv('test.csv')])

In [4]:
df = df[['id', 'idzona']]
df.head()

       id   idzona
0  254099  23533.0
1   53461  24514.0
2  247984  48551.0
3  209067  53666.0
4  185997  47835.0

In [5]:
X = df.drop('id', axis = 1)
y = df.drop('idzona', axis = 1)
ce_binary = ce.BinaryEncoder(cols = ['idzona'])

a = ce_binary.fit_transform(X, y)
df = pd.concat([df, a], axis=1)

NameError: name 'X' is not defined

In [12]:
df = df.drop('idzona', axis= 1)
df.to_csv('features_idzona_ROB.csv',index=False)