In [10]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [11]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [12]:
df = df[['id', 'tipodepropiedad', 'metroscubiertos', 'metrostotales']]

In [13]:
df.head()

       id     tipodepropiedad  metroscubiertos  metrostotales     precio
0  254099         Apartamento             80.0           80.0  2273000.0
1   53461  Casa en condominio            268.0          180.0  3600000.0
2  247984                Casa            144.0          166.0  1200000.0
3  209067                Casa             63.0           67.0   650000.0
4  185997         Apartamento             95.0           95.0  1150000.0

In [14]:
df = df.drop('tipodepropiedad', axis= 1)

In [15]:
df=df.fillna(0)
df.to_csv('features_metros.csv',index=False)