In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [2]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [4]:
df = df[['id', 'tipodepropiedad', 'gimnasio', 'usosmultiples', 'piscina', 'garages', 'escuelascercanas', 'usosmultiples']]
df.shape

(300000, 8)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 59999
Data columns (total 8 columns):
id                  300000 non-null int64
tipodepropiedad     299947 non-null object
gimnasio            300000 non-null float64
usosmultiples       300000 non-null float64
piscina             300000 non-null float64
garages             252912 non-null float64
escuelascercanas    300000 non-null float64
usosmultiples       300000 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 30.6+ MB

In [17]:
df.gimnasio.isnull().any()

False

In [18]:
df.usosmultiples.isnull().any()

usosmultiples    False
usosmultiples    False
dtype: bool

In [19]:
df.piscina.isnull().any()

False

In [20]:
df.garages.isnull().any()

True

In [24]:
df['garages'] = df['garages'].fillna(df.groupby('tipodepropiedad')['garages'].transform(np.mean))
df[df.garages.isnull()].head(5)

,id,tipodepropiedad,gimnasio,usosmultiples,piscina,garages,escuelascercanas,usosmultiples
8273,68458,NaN,0.0,0.0,0.0,NaN,0.0,0.0
13957,48797,NaN,0.0,0.0,0.0,NaN,0.0,0.0
15763,231968,NaN,0.0,0.0,0.0,NaN,0.0,0.0
17512,78161,NaN,0.0,0.0,0.0,NaN,0.0,0.0
20067,170109,NaN,0.0,0.0,0.0,NaN,0.0,0.0

In [26]:
df['garages'] = df['garages'].fillna(0)
df.garages.isnull().any()

False

In [27]:
df.escuelascercanas.isnull().any()

False

In [28]:
df.usosmultiples.isnull().any()

usosmultiples    False
usosmultiples    False
dtype: bool

In [30]:
df = df.drop('tipodepropiedad', axis= 1)

In [31]:
df.head(1)

,id,gimnasio,usosmultiples,piscina,garages,escuelascercanas,usosmultiples
0,254099,0.0,0.0,0.0,1.0,0.0,0.0

In [32]:
df=df.fillna(0)
df.to_csv('features_amenities_ROB.csv',index=False)