In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [14]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 59999
Data columns (total 23 columns):
antiguedad                    245731 non-null float64
banos                         267225 non-null float64
centroscomercialescercanos    300000 non-null float64
ciudad                        299545 non-null object
descripcion                   297980 non-null object
direccion                     233737 non-null object
escuelascercanas              300000 non-null float64
fecha                         300000 non-null datetime64[ns]
garages                       252912 non-null float64
gimnasio                      300000 non-null float64
habitaciones                  271901 non-null float64
id                            300000 non-null int64
idzona                        264200 non-null float64
lat                           145817 non-null float64
lng                           145817 non-null float64
metroscubiertos               278301 non-null float64
metrostotales                 235878 non-null float64
piscina                       300000 non-null float64
precio                        240000 non-null float64
provincia                     299803 non-null object
tipodepropiedad               299947 non-null object
titulo                        293235 non-null object
usosmultiples                 300000 non-null float64
dtypes: datetime64[ns](1), float64(15), int64(1), object(6)
memory usage: 54.9+ MB

In [16]:
df = df[['id','fecha', 'antiguedad', 'tipodepropiedad']]
df.head(1)

       id      fecha  antiguedad tipodepropiedad
0  254099 2015-08-23         NaN     Apartamento

In [17]:
df['anio'] = df['fecha'].dt.year
df['mes'] = df['fecha'].dt.month
df['dia'] = df['fecha'].dt.day
df['days_to_today'] = (pd.to_datetime('today') - df['fecha']).dt.days
df.head(1)

,id,fecha,antiguedad,tipodepropiedad,anio,mes,dia,days_to_today
0,254099,2015-08-23,NaN,Apartamento,2015,8,23,1547

In [18]:
df['antiguedad'] = df['antiguedad'].fillna(df.groupby('tipodepropiedad')['antiguedad'].transform(np.mean))
df.head(1)

In [24]:
df['antiguedad'].isnull().any()

False

In [23]:
df['antiguedad'] = df['antiguedad'].fillna(0)

In [ ]:
df['antiguedad'].isnull().any()

In [25]:
df.head(1)

,id,fecha,antiguedad,tipodepropiedad,anio,mes,dia,days_to_today
0,254099,2015-08-23,8.38638,Apartamento,2015,8,23,1547

In [29]:
df = df.drop('tipodepropiedad',axis=1)
df.head(1)

       id      fecha  antiguedad  anio  mes  dia  days_to_today
0  254099 2015-08-23     8.38638  2015    8   23           1547

In [35]:
df=df.fillna(0)
df.to_csv('features_fecha_antiguedad_ROB.csv',index=False)