In [44]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [59]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [60]:
df = df[['id', 'tipodepropiedad', 'habitaciones', 'garages', 'banos', 'fecha']]
df['anio'] = df['fecha'].dt.year
df.shape

(300000, 7)

In [61]:
one_hot_encoding = pd.get_dummies(df['tipodepropiedad'])
one_hot_encoding.shape

(300000, 24)

In [62]:
df = df.drop('fecha', axis= 1)
df = df.drop('tipodepropiedad', axis= 1)
df.shape

(300000, 5)

In [71]:
pd.concat([df, one_hot_encoding], axis=1)

,id,habitaciones,garages,banos,anio,Apartamento,Bodega comercial,Casa,Casa en condominio,Casa uso de suelo,...,Lote,Nave industrial,Oficina comercial,Otros,Quinta Vacacional,Rancho,Terreno,Terreno comercial,Terreno industrial,Villa
0,254099,2.0,1.0,2.0,2015,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,53461,3.0,2.0,2.0,2013,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,247984,3.0,2.0,2.0,2015,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,209067,2.0,1.0,1.0,2012,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,185997,2.0,1.0,1.0,2016,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,75094,4.0,3.0,3.0,2015,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,171847,3.0,1.0,2.0,2016,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,138313,3.0,2.0,2.0,2014,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,271268,2.0,1.0,2.0,2016,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,72612,3.0,2.0,2.0,2013,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
df.shape

(300000, 5)

In [73]:
df=df.fillna(0)
df.to_csv('features_ambientes.csv',index=False)