In [28]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [29]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [31]:
df.columns

Index(['antiguedad', 'banos', 'centroscomercialescercanos', 'ciudad',
       'descripcion', 'direccion', 'escuelascercanas', 'fecha', 'garages',
       'gimnasio', 'habitaciones', 'id', 'idzona', 'lat', 'lng',
       'metroscubiertos', 'metrostotales', 'piscina', 'precio', 'provincia',
       'tipodepropiedad', 'titulo', 'usosmultiples'],
      dtype='object')

In [32]:
df = df[['id', 'ciudad', 'provincia', 'idzona','precio']]
df.head()

       id                  ciudad         provincia   idzona     precio
0  254099           Benito Juárez  Distrito Federal  23533.0  2273000.0
1   53461  La Magdalena Contreras  Distrito Federal  24514.0  3600000.0
2  247984                  Tonalá           Jalisco  48551.0  1200000.0
3  209067            Zinacantepec    Edo. de México  53666.0   650000.0
4  185997                 Zapopan           Jalisco  47835.0  1150000.0

In [33]:
new = df.groupby('ciudad').agg({'precio':'mean'})
new.reset_index(inplace = True)
new.head()

     ciudad        precio
0     Abalá  3.150000e+05
1   Abasolo  2.631017e+06
2  Abejones  2.500000e+06
3   Acajete  3.089361e+06
4   Acambay  1.575000e+06

In [34]:
df = pd.merge(df, new, on = 'ciudad', how = 'left', suffixes=('','_ciudad'))

In [35]:
new = df.groupby('provincia').agg({'precio':'mean'})
new.reset_index(inplace = True)
new.head()

               provincia        precio
0         Aguascalientes  1.477189e+06
1  Baja California Norte  7.674418e+05
2    Baja California Sur  1.216453e+06
3               Campeche  1.570918e+06
4                Chiapas  1.924126e+06

In [36]:
df = pd.merge(df, new, on = 'provincia', how = 'left', suffixes=('','_provincia'))

In [37]:
new = df.groupby('idzona').agg({'precio':'mean'})
new.reset_index(inplace = True)
new.head()

   idzona        precio
0    22.0  3.058114e+06
1    23.0  1.412615e+06
2    26.0  1.023140e+06
3    27.0  6.500000e+05
4    28.0  1.175000e+06

In [38]:
df = pd.merge(df, new, on = 'idzona', how = 'left', suffixes=('','_idzona'))

In [39]:
df = df[['id', 'precio_ciudad', 'precio_provincia', 'precio_idzona']]

In [40]:
df.shape

(300000, 4)

In [41]:
df=df.fillna(0)
df.to_csv('features_precio_x_direccion.csv',index=False)