In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [16]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [17]:
df = df[['id', 'tipodepropiedad', 'metroscubiertos', 'metrostotales','precio', 'ciudad', 'provincia', 'idzona']]

In [18]:
df.head()

,id,tipodepropiedad,metroscubiertos,metrostotales,precio,ciudad,provincia,idzona
0,254099,Apartamento,80.0,80.0,2273000.0,Benito Juárez,Distrito Federal,23533.0
1,53461,Casa en condominio,268.0,180.0,3600000.0,La Magdalena Contreras,Distrito Federal,24514.0
2,247984,Casa,144.0,166.0,1200000.0,Tonalá,Jalisco,48551.0
3,209067,Casa,63.0,67.0,650000.0,Zinacantepec,Edo. de México,53666.0
4,185997,Apartamento,95.0,95.0,1150000.0,Zapopan,Jalisco,47835.0

In [19]:
df ['precio_x_metro_cub'] = (df['precio']/df['metroscubiertos']).round(3)
df ['precio_x_metro_tot'] = (df['precio']/df['metrostotales']).round(3)

In [20]:
new = df.groupby('ciudad').agg({'precio_x_metro_cub':'mean', 'precio_x_metro_tot':'mean'})
new.reset_index(inplace = True)
df = pd.merge(df, new, on = 'ciudad', how = 'left', suffixes=('','_ciudad'))

In [22]:
new = df.groupby('provincia').agg({'precio_x_metro_cub':'mean', 'precio_x_metro_tot':'mean'})
new.reset_index(inplace = True)
df = pd.merge(df, new, on = 'provincia', how = 'left', suffixes=('','_provincia'))

In [24]:
new = df.groupby('idzona').agg({'precio_x_metro_cub':'mean', 'precio_x_metro_tot':'mean'})
new.reset_index(inplace = True)
df = pd.merge(df, new, on = 'idzona', how = 'left', suffixes=('','_idzona'))

In [25]:
new = df.groupby('tipodepropiedad').agg({'precio_x_metro_cub':'mean', 'precio_x_metro_tot':'mean'})
new.reset_index(inplace = True)
df = pd.merge(df, new, on = 'tipodepropiedad', how = 'left', suffixes=('','_tipodepropiedad'))

In [26]:
df

,id,tipodepropiedad,metroscubiertos,metrostotales,precio,ciudad,provincia,idzona,precio_x_metro_cub,precio_x_metro_tot,precio_x_metro_cub_ciudad,precio_x_metro_tot_ciudad,precio_x_metro_cub_provincia,precio_x_metro_tot_provincia,precio_x_metro_cub_idzona,precio_x_metro_tot_idzona,precio_x_metro_cub_tipodepropiedad,precio_x_metro_tot_tipodepropiedad
0,254099,Apartamento,80.0,80.0,2273000.0,Benito Juárez,Distrito Federal,23533.0,28412.500,28412.500,27296.034457,28581.902990,22989.154659,24011.411262,28500.216398,28035.465816,22407.542740,22734.412911
1,53461,Casa en condominio,268.0,180.0,3600000.0,La Magdalena Contreras,Distrito Federal,24514.0,13432.836,20000.000,20388.200856,22928.145528,22989.154659,24011.411262,20823.948361,19664.385782,13934.434950,16375.521937
2,247984,Casa,144.0,166.0,1200000.0,Tonalá,Jalisco,48551.0,8333.333,7228.916,8630.123432,7857.412635,13333.964053,13570.913738,10430.830026,9094.704263,11176.085449,11945.239267
3,209067,Casa,63.0,67.0,650000.0,Zinacantepec,Edo. de México,53666.0,10317.460,9701.493,9705.117380,8687.658821,13960.133039,14146.115302,10557.174375,10682.862000,11176.085449,11945.239267
4,185997,Apartamento,95.0,95.0,1150000.0,Zapopan,Jalisco,47835.0,12105.263,12105.263,14416.321188,15238.389320,13333.964053,13570.913738,13224.113828,14543.135792,22407.542740,22734.412911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,75094,Casa,291.0,NaN,NaN,Venustiano Carranza,Distrito Federal,275741.0,NaN,NaN,15195.627586,16344.767923,22989.154659,24011.411262,15924.670746,15299.699406,11176.085449,11945.239267
299996,171847,Casa,71.0,87.0,NaN,Ecatepec de Morelos,Edo. de México,57474.0,NaN,NaN,8651.693931,9896.181967,13960.133039,14146.115302,8866.459714,10997.367000,11176.085449,11945.239267
299997,138313,Casa,102.0,NaN,NaN,Guadalupe,Nuevo León,72224.0,NaN,NaN,8173.222178,9027.296939,13002.359377,13197.894572,6643.696964,7021.866286,11176.085449,11945.239267
299998,271268,Casa,130.0,144.0,NaN,Querétaro,Querétaro,83960.0,NaN,NaN,11845.780579,10930.021441,11621.248435,10542.430317,10521.197807,11316.759045,11176.085449,11945.239267
299999,72612,Casa,211.0,130.0,NaN,Zapopan,Jalisco,47747.0,NaN,NaN,14416.321188,15238.389320,13333.964053,13570.913738,15582.290000,17947.802200,11176.085449,11945.239267

In [27]:
df = df.drop(['tipodepropiedad', 'ciudad', 'provincia', 'idzona', 'precio_x_metro_cub','precio_x_metro_tot', 'precio'], axis= 1)

In [28]:
df=df.fillna(0)
df.to_csv('features_metros.csv',index=False)

In [29]:
df

,id,metroscubiertos,metrostotales,precio_x_metro_cub_ciudad,precio_x_metro_tot_ciudad,precio_x_metro_cub_provincia,precio_x_metro_tot_provincia,precio_x_metro_cub_idzona,precio_x_metro_tot_idzona,precio_x_metro_cub_tipodepropiedad,precio_x_metro_tot_tipodepropiedad
0,254099,80.0,80.0,27296.034457,28581.902990,22989.154659,24011.411262,28500.216398,28035.465816,22407.542740,22734.412911
1,53461,268.0,180.0,20388.200856,22928.145528,22989.154659,24011.411262,20823.948361,19664.385782,13934.434950,16375.521937
2,247984,144.0,166.0,8630.123432,7857.412635,13333.964053,13570.913738,10430.830026,9094.704263,11176.085449,11945.239267
3,209067,63.0,67.0,9705.117380,8687.658821,13960.133039,14146.115302,10557.174375,10682.862000,11176.085449,11945.239267
4,185997,95.0,95.0,14416.321188,15238.389320,13333.964053,13570.913738,13224.113828,14543.135792,22407.542740,22734.412911
...,...,...,...,...,...,...,...,...,...,...,...
299995,75094,291.0,0.0,15195.627586,16344.767923,22989.154659,24011.411262,15924.670746,15299.699406,11176.085449,11945.239267
299996,171847,71.0,87.0,8651.693931,9896.181967,13960.133039,14146.115302,8866.459714,10997.367000,11176.085449,11945.239267
299997,138313,102.0,0.0,8173.222178,9027.296939,13002.359377,13197.894572,6643.696964,7021.866286,11176.085449,11945.239267
299998,271268,130.0,144.0,11845.780579,10930.021441,11621.248435,10542.430317,10521.197807,11316.759045,11176.085449,11945.239267
299999,72612,211.0,130.0,14416.321188,15238.389320,13333.964053,13570.913738,15582.290000,17947.802200,11176.085449,11945.239267