In [17]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [31]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [32]:
df_basicos = df[['id', 'habitaciones']]

In [33]:
df_basicos.head()

       id  habitaciones
0  254099           2.0
1   53461           3.0
2  247984           3.0
3  209067           2.0
4  185997           2.0

In [34]:
df_basicos=df_basicos.fillna(0)
df_basicos.to_csv('features_basicos.csv',index=False)