In [17]:
import pandas as pd
import numpy as np
import datetime
import utils
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [18]:

def add_features(events, features, on='id', how = 'left'):
    """Hace un merge de features a events"""
    return pd.merge(events, features, on=on, how = how)

def merge_features(list):
    feature_final = list[0]
    list.pop(0)
    for features in list:
        feature_final = add_features(feature_final,features)
    return feature_final

In [32]:
%run ./features_basicos.ipynb
%run ./features_ambientes.ipynb
%run ./features_amenities.ipynb
%run ./features_metros.ipynb

In [33]:
features_basicos = pd.read_csv('features_basicos.csv', low_memory=False)
features_ambientes = pd.read_csv('features_ambientes.csv', low_memory=False)
features_amenities = pd.read_csv('features_amenities.csv', low_memory=False)
features_metros = pd.read_csv('features_metros.csv', low_memory=False)

In [34]:
features = merge_features([features_basicos,
                           features_ambientes,
                           features_amenities,
                           features_metros
                                 ])

features.fillna(value=0, inplace=True)
features.head()

,id,habitaciones,garages,banos,anio_x,gimnasio,usosmultiples,piscina,anio_y,qty_of_extras,metroscubiertos,metrostotales
0,254099,2.0,1.0,2.0,2015,0.0,0.0,0.0,2015,0.0,80.0,80.0
1,53461,3.0,2.0,2.0,2013,0.0,0.0,0.0,2013,0.0,268.0,180.0
2,247984,3.0,2.0,2.0,2015,0.0,0.0,0.0,2015,0.0,144.0,166.0
3,209067,2.0,1.0,1.0,2012,0.0,0.0,0.0,2012,0.0,63.0,67.0
4,185997,2.0,1.0,1.0,2016,0.0,0.0,0.0,2016,0.0,95.0,95.0

In [35]:
## esto genera un csv final con todos los features para usar en el modelo
features.to_csv('../modelos/data_set.csv', index=False)

In [36]:
features.shape

(300000, 12)