In [9]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, timedelta
import utils
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [28]:
# Cargamos el dataframe
df = pd.read_csv('train.csv', parse_dates=['fecha'])
df = pd.concat([df, pd.read_csv('test.csv', parse_dates=['fecha'])])

In [29]:
df['año'] = df['fecha'].dt.year

In [30]:
df['days_to_today'] = (pd.to_datetime('today') - df['fecha']).dt.days

In [31]:
df.head(1)

,antiguedad,banos,centroscomercialescercanos,ciudad,descripcion,direccion,escuelascercanas,fecha,garages,gimnasio,...,metroscubiertos,metrostotales,piscina,precio,provincia,tipodepropiedad,titulo,usosmultiples,año,days_to_today
0,NaN,2.0,0.0,Benito Juárez,"depto. interior de 80.15m2, consta de sala com...",Avenida Division del Norte 2005,0.0,2015-08-23,1.0,0.0,...,80.0,80.0,0.0,2273000.0,Distrito Federal,Apartamento,depto. tipo a-402,0.0,2015,1540

In [32]:
df.columns

Index(['antiguedad', 'banos', 'centroscomercialescercanos', 'ciudad',
       'descripcion', 'direccion', 'escuelascercanas', 'fecha', 'garages',
       'gimnasio', 'habitaciones', 'id', 'idzona', 'lat', 'lng',
       'metroscubiertos', 'metrostotales', 'piscina', 'precio', 'provincia',
       'tipodepropiedad', 'titulo', 'usosmultiples', 'año', 'days_to_today'],
      dtype='object')

In [33]:
df = df[['id', 'days_to_today', 'año', 'antiguedad', 'centroscomercialescercanos', 'escuelascercanas']]

In [34]:
df.head()

,id,days_to_today,año,antiguedad,centroscomercialescercanos,escuelascercanas
0,254099,1540,2015,NaN,0.0,0.0
1,53461,2326,2013,10.0,1.0,1.0
2,247984,1485,2015,5.0,0.0,0.0
3,209067,2802,2012,1.0,1.0,1.0
4,185997,1251,2016,10.0,0.0,0.0

In [35]:
df=df.fillna(0)
df.to_csv('features_basicos.csv',index=False)