In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.model_selection import GridSearchCV
from math import sqrt
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
%matplotlib inline

In [4]:
train_df = pd.read_csv("train.csv", low_memory=False)
test_df = pd.read_csv("test.csv", low_memory=False)
data = pd.read_csv("data_set.csv", low_memory = False)

In [5]:
train_df = train_df[['id','precio']]
train_df['precio'].value_counts()

1500000.0    3041
2500000.0    3036
1200000.0    2909
3500000.0    2726
1300000.0    2480
             ...
2704600.0       1
1352250.0       1
938260.0        1
2704460.0       1
2327000.0       1
Name: precio, Length: 15520, dtype: int64

In [6]:
features = pd.merge(train_df, data, on='id', how='inner')
features = features.fillna(0)
features['precio'].value_counts()

1500000.0    3041
2500000.0    3036
1200000.0    2909
3500000.0    2726
1300000.0    2480
             ...
2704600.0       1
1352250.0       1
938260.0        1
2704460.0       1
2327000.0       1
Name: precio, Length: 15520, dtype: int64

In [8]:
labels = features['precio']
features = features.drop(['id','precio'], axis=1)

In [10]:
features.replace([np.inf, -np.inf], np.nan, inplace=True)
features.fillna(0, inplace=True)

In [11]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor(random_state = 0)  
regressor.fit(features, labels)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [12]:
set_test = pd.merge(data, test_df[['id']],on = "id", how = "inner")
ids = set_test["id"]
set_test = set_test.drop(columns=['id'])

In [13]:
set_test = set_test.fillna(0)

In [20]:
set_test.replace([np.inf, -np.inf], np.nan, inplace=True)
set_test.fillna(0, inplace=True)

set_test.head()

,days_to_today,año,antiguedad,centroscomercialescercanos,escuelascercanas,habitaciones,garages,banos,anio,Apartamento,...,Yucatán,Zacatecas,periodo,dolar,habxmetros,habxmetroscub,banosxmetros,banosxmetroscub,banosxhab,largotitulo
0,2324,2013,29.0,0.0,0.0,3.0,0.0,4.0,2013,0,...,0,0,20130701,12.7325,0.000000,0.010000,0.000000,0.013333,0.0,49.0
1,1498,2015,0.0,0.0,0.0,1.0,1.0,1.0,2015,1,...,1,0,20151001,16.5000,0.014925,0.014925,0.014925,0.014925,1.0,36.0
2,1645,2015,0.0,1.0,0.0,2.0,1.0,2.0,2015,1,...,0,0,20150501,15.3775,0.020000,0.022989,0.020000,0.022989,2.0,78.0
3,1703,2015,2.0,0.0,0.0,2.0,2.0,2.0,2015,1,...,0,0,20150401,15.3488,0.023256,0.023256,0.023256,0.023256,1.0,33.0
4,2298,2013,10.0,1.0,1.0,2.0,1.0,1.0,2013,0,...,0,0,20130801,13.3803,0.026316,0.025000,0.013158,0.012500,2.0,56.0

In [21]:
preds_kaggle = regressor.predict(set_test)

In [22]:
df_kaggel = pd.DataFrame(preds_kaggle)
df_kaggel.head()

           0
0  6400000.0
1   979000.0
2  2610000.0
3  1150000.0
4   695000.0

In [23]:
df_kaggel = pd.DataFrame(df_kaggel)                               
df_kaggel["id"] = ids
df_kaggel.rename(columns = {0: 'target'},inplace = True) 
df_kaggel = df_kaggel[['id','target']]

In [24]:
df_kaggel.head()

       id     target
0    4941  6400000.0
1   51775   979000.0
2  115253  2610000.0
3  299321  1150000.0
4  173570   695000.0

In [25]:
df_kaggel.to_csv('ResultadosRegTree.csv',index=False)

In [26]:
df_kaggel.shape

(60000, 2)

In [27]:
df_kaggel.head()

       id     target
0    4941  6400000.0
1   51775   979000.0
2  115253  2610000.0
3  299321  1150000.0
4  173570   695000.0